<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    <br><br>{{message}}
    
    </div>
     
    <!-- Login Form -->
    <form   >
      <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="user.login"  placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" [(ngModel)]="user.password"  placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In"  (click)="onLogin()" >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>