
<div class="bg-light border-right" id="sidebar-wrapper" *ngIf="!hideSideBar">
  <div class="sidebar-heading"><img src=".\assets\img\GHR.jpg" width="200px" height="50px"/></div>
  <div class="list-group list-group-flush">
    <a  class="list-group-item list-group-item-action bg-light"
      ></a
    >
    <a routerLink='#' class="list-group-item list-group-item-action bg-light"
      >Tableau de bord</a
    >
    <a routerLink='user'  class="list-group-item list-group-item-action bg-light">
      Utilisateurs</a>
    
    <a routerLink='emp' class="list-group-item list-group-item-action bg-light"
      >Employés</a
    >
    <a  class="list-group-item list-group-item-action bg-light"
    ></a>
  </div>
</div>
